@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.bg-wish{
  background: linear-gradient(to right, #f86184, #f19dd9);
}
.bg-booked{
  background: linear-gradient(to right, #17cb6b, #55dbed);
}

.border-custom{
  border-image: linear-gradient(45deg, #F76969, #F996DE) 1;

}
.bg-yellow{
  background-color: #FFD52E
}
.bg-dark-theme{
  background-color: rgb(45, 46, 47);
}
.bg-darkness-theme{
  background-color: rgb(54, 61, 71);
}